<footer class="footer">
  <h2 class="footer--title">Psicología Indra</h2>
  <nav class="footer--nav">
    <ul class="footer--nav__list">
      <li>
        <a class="footer--nav__list--item" href="index.html#about-us" title="Quienes somos">Quienes somos</a>
      </li>
      <li>
        <a class="footer--nav__list--item" href="index.html#principles" title="Valores">Valores</a>
      </li>
      <li>
        <a class="footer--nav__list--item" href="index.html#therapy" title="Terapia">Terapias</a>
      </li>
      <li>
        <a class="footer--nav__list--item" href="index.html#whyTherapy" title="¿Porqué hacer terapia?">¿Por qué hacer terapia?</a>
      </li>
      <li>
        <a class="footer--nav__list--item" href="contact.html" title="Contacto">Contacto</a>
      </li>
    </ul>
  </nav>
</footer>
