<header class="header--container" id="header">
  <nav class="nav">
    <!-- <a href="#" class="menu-on">
      <img class="menu js-menu" src="./bars-solid.svg" alt="menu" title="menu" />
    </a> -->
    <ul class="nav__list js-list-menu">
      <li>
        <a class="nav__list--item" href="index.html#about-us" title="Quienes somos">Quienes somos</a>
      </li>
      <li>
        <a class="nav__list--item" href="index.html#principles" title="Valores">Valores</a>
      </li>
      <li>
        <a class="nav__list--item" href="index.html#therapy" title="Terapia">Terapias</a>
      </li>
      <li>
        <a class="nav__list--item" href="index.html#whyTherapy" title="¿Porqué hacer terapia?">¿Por qué hacer terapia?</a>
      </li>
      <li>
        <a class="nav__list--item" href="./contact.html" title="Contacto">Contacto</a>
      </li>
    </ul>
  </nav>
  <h2 class="title">Psicología Indra</h2>
  <div class="img-container">
    <img class="img" src="./assets/images/drop.jpg" alt="foto de portada" title="Psicología Indra" />
  </div>
</header>
