<section class="principles">
  <header class="principles__header-container">
    <h1 class="principles__header-container--title" id="principles">Valores</h1>
  </header>
  <section class="principles__cards--container">
    <div class="principles__card">
      <div class="principles__card--container">
        <h4 class="principles__card--container__title">Compromisos</h4>
        <img class="principles__card--container__icon" src="./handshake-regular.svg" alt="icono de valores profesionales" title="valores profesionales" />
      </div>
      <p class="principles__card--text">Consideramos que lo que nos distingue es la vocación.</p>
      <p class="principles__card--text">Compromiso con las personas, con sus valores, creencias y diferencias culturales.</p>
      <p class="principles__card--text">Compromiso con la Psicología y la Psicoterapia como ciencias al servicio del crecimiento del ser humano.</p>
      <p class="principles__card--text">Compromiso con nuestra población de la sierra noroeste de Madrid, apostando por la mejora de su salud mental desde hace más de 20 años.</p>
    </div>
    <div class="principles__card">
      <div class="principles__card--container">
        <h4 class="principles__card--container__title">Valores profesionales</h4>
        <img class="principles__card--container__icon" src="./user-tie-solid.svg" alt="icono de valores profesionales" title="valores profesionales" />
      </div>
      <p class="principles__card--text">Profesionalidad en las intervenciones, avalada por un compromiso con la formación constante y el objetivo de conseguir la excelencia en la atención psicoterapéutica.</p>
      <p class="principles__card--text">El trabajo conjunto en el que la complementariedad, la comunicación y la confianza son las bases de un equipo terapéutico sólido y consolidado.</p>
      <p class="principles__card--text">Apertura disciplinar tanto en el ámbito de la Psicología como de la Psicoterapia. Poseemos formación en escuelas como el modelo Humanista y el Familiar-Sistémico, entre otros, sin que nos guste encasillarnos. Nos debemos a las personas y con ellas formamos equipos para una mejor atención.</p>
    </div>
    <div class="principles__card">
      <div class="principles__card--container">
        <h4 class="principles__card--container__title">Valores humanos</h4>
        <img class="principles__card--container__icon" src="./hand-holding-heart-solid.svg" alt="icono de valores profesionales" title="valores profesionales" />
      </div>
      <p class="principles__card--text">La calidez en el trato nos parece fundamental cuando el sufrimiento es el vehículo que nos acerca a las personas que buscan nuestra atención.</p>
      <p class="principles__card--text">Confianza: confiamos y creemos en las personas. Creemos en las potencialidades de las mismas y que, juntos, podemos encontrar los modos de crecer, cambiar y evolucionar transformando los sufrimientos en oportunidades para ello.</p>
      <p class="principles__card--text">Apoyo y aceptación incondicional: creer y apostar por las personas nos lleva a aceptarlas incondicionalmente. Creemos que el terapeuta puede ser “ese otro” que ayude a reconstruir aquellos aspectos tocados o truncados en las personas que atendemos, incluso a recomponer esos “girones” que a veces quedan tras “la batalla”.</p>
      <p class="principles__card--text">Diálogo y comunicación: la flexibilidad, la escucha activa y la “tertulia terapéutica” en torno a un café o un té compartidos.</p>
    </div>
    <div class="principles__card">
      <div class="principles__card--container">
        <h4 class="principles__card--container__title">Filosofía del acompañar</h4>
        <img class="principles__card--container__icon" src="./thinking.svg" alt="icono de filosofía del acompañar" title="Filosofía del acompañar" />
      </div>
      <ul class="principles__card--list">
        <li class="principles__card--list__item">"Se trata de estar presente para el dolor de otra persona, no de hacer que su dolor desaparezca.</li>
        <li class="principles__card--list__item">Se trata de ir al desierto del alma con otro ser humano, no de creer que somos responsables de encontrar la salida.</li>
        <li class="principles__card--list__item">Se trata de honrar el espíritu, no de enfocarse en el intelecto.</li>
        <li class="principles__card--list__item">Se trata de escuchar el corazón, no de analizar la cabeza.</li>
        <li class="principles__card--list__item">Es dar testimonio de las luchas de los otros, no de juzgar ni dirigir las luchas.</li>
        <li class="principles__card--list__item">De caminar al lado, no de conducir o ser conducido.</li>
        <li class="principles__card--list__item">De descubrir los dones del silencio sagrado, no significa llenar con palabras cada momento.</li>
        <li class="principles__card--list__item">Se trata de quedarse quieto y en silencio, no de quererse mover frenéticamente hacia adelante.</li>
        <li class="principles__card--list__item">De respetar el desorden y la confusión, no de imponer orden y lógica.</li>
        <li class="principles__card--list__item">De aprender de otros, no de enseñarles.</li>
        <li class="principles__card--list__item">De tener una actitud de curiosidad, no de expertos."</li>
      </ul>
    </div>
  </section>
</section>
