<section class="aboutUs">
  <h1 class="aboutUs--title" id="about-us">Quienes Sómos</h1>
  <aside class="aboutUs--info">
    <p class="aboutUs--info__text"><span class="aboutUs--info__emphasis">Indrapsicología </span> es un centro de psicoterapia constituido por dos profesionales <span class="aboutUs--info__emphasis">Mª Belén de la Rocha Fernández </span> y <span class="aboutUs--info__emphasis">Manuel A. Ruiz Ruiz. </span></p>
    <p class="aboutUs--info__text">Nuestra labor está basada en la creación de un entorno seguro y tranquilo para quienes solicitan nuestra intervención, algo así como la posibilidad de poder dejar en el perchero de la entrada aquellas "máscaras" que todos utilizamos para movernos en la vida y en aquellos entornos que nos resultan menos gratos e, incluso amenazadores, para volver a recogerlas (o no) a la salida. Buscamos con las personas que se atrevan a ser... hasta dónde ellas quieran llegar. Nosotros vamos a estar ahí para acompañar, orientar, apoyar y confiar en ellas y en sus potencialidades.</p>
    <a href="about-us.html" class="btn info-btn">Más información</a>
  </aside>

  <aside class="aboutUs--us">
    <section class="aboutUs--us__section">
      <article class="aboutUs--us__belen">
        <a href="about-us.html#belen"> <img class="aboutUs--us__photo" src="./assets/images/belen.jpg" alt="Belén de la Rocha" title="Belen de la Rocha" /> </a>
        <p class="aboutUs--us__text">"Vive la vida como si fuese el ayer que hoy vas a cambiar"</p>
        <p class="aboutUs--us__author">-Lucía Peláez-</p>
      </article>
      <article class="aboutUs--us__manuel">
        <a href="about-us.html#manuel" class="link"> <img class="aboutUs--us__photo manuel" src="./assets/images/manuel.jpg" alt="Manuel Ruiz" title="Manuel Ruiz" /> </a>
        <p class="aboutUs--us__text">
          "Cuando la situación es buena, disfrútala. <br />
          Cuando la situación es mala, transfórmala. <br />
          Cuando la situación no puede ser transformada, tranfórmate"
        </p>
        <p class="aboutUs--us__author">-Victor Frankl-</p>
      </article>
    </section>
    <a href="contact.html" class="btn contact-btn">Contacta con nosotros</a>
  </aside>
</section>
