<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/contact.css" />
    <title>Psicología Indra: Contacto</title>
  </head>
  <body>
    <h1>Indra Psicología</h1>
    <h2>Contacta con nosotros</h2>
  </body>
</html>
