<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Psicología Indra</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <partial src="_header.html" title="Bienvenidos a Indra psicología"></partial>
    <partial src="_section-about-us.html"></partial>
    <partial src="_section-principles.html"></partial>
    <partial src="_therapy.html"></partial>
    <partial src="_why-therapy.html"></partial>
    <partial src="_footer.html"></partial>
    <a href="#header"> <img class="arrow" src="./arrow.svg" alt="subir" title="volver arriba" /></a>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
