.footer {
  background-color: rgb(77, 155, 245);
  display: flex;
  justify-content: space-between;
  &--title {
    color: whitesmoke;
    font-family: $titleFont;
    font-size: $titleSize;
    margin: 25px;
  }
  &--nav {
    width: 700px;
    &__list {
      display: flex;
      justify-content: space-around;
      list-style: none;
      margin-right: 85px;
      margin-top: 30px;
      &--item {
        text-decoration: none;
        color: whitesmoke;
        margin-bottom: 15px;
        font-family: $textFont;
        font-size: $textSize;
        line-height: $lineHeight;
      }
    }
  }
}
