.header--container {
  /* 
  height: 110vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
  align-items: center;
  &--nav-container {
    display: flex;
    flex-direction: row-reverse;
  }
}
.nav {
  &__title {
    color: black;
    text-align: center;
    font-size: 60px;
    font-family: $titleFont;
    font-weight: 600;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 700px;
    padding: 35px;
    font-family: $textFont;
    &--item {
      color: black;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      font-size: 18px;
      text-align: center;
      &:hover {
        font-size: 20px;
      }
    }
  }
}
@media all and (max-width: 980px) {
  .img-container {
    width: 600px;
  }
  .img {
    width: 100%;
  }
}
