//margins
$marginLeft: 35px;

//titles / text
$titleFont: 'Dancing Script', cursive, sans-serif;
$textFont: 'Montserrat', sans-serif;

$titleSize: 40px;
$subtitleSize: 30px;
$textSize: 16px;

$lineHeight: 25px;
